-# This is the view that will have the drop-down menus for cycle and category
   As well as the search button.
   Searching should add a params[:cycle] and params[:category]
   and should use the campaign_finances_search route
